// Color
$white-color-0: #fff;
$black-color-0: #000;
$black-color-1: #333;
$black-color-2: #888;
$black-color-3: #555;
$black-color-4: #4a4a4a;
$black-color-5: #2c3238;
$black-color-6: #eee;
$black-color-7: #1A100F;
$black-color-8: #cccccc;
$black-color-9: #aaa;
$black-color-10: #f5f5f5;
$black-color-11: #808080;
$black-color-12: #222;
$black-color-13: #999;
$black-color-14: #f7f7f7;
$black-color-15: #505050;
$organe-color-0: #f26c50;
$organe-color-1: #eb8a2f;
$blue-color-0: #273167;
$blue-color-1: #428bca;
$blue-color-2: #357ebd;
$blue-color-3: #66afe9;
$blue-color-4: #1564a7;
$blue-color-5: rgb(59, 89, 152);
$blue-color-6: #00aeef;
$blue-red-0: rgb(194, 46, 42);

// Font-size
$fs-0: 3rem;
$fs-1: 3.4rem;
$fs-2: 2rem;
$fs-3: 1.7rem;
$fs-4: 1.6rem;
$fs-5: 1.4rem;
$fs-6: 1.3rem;
$fs-7: 1.2rem;

// Padding
$pd-0: 30px;
$pd-1: 15px;
$pd-2: 10px;
$pd-3: 5px;
$pd-4: 50px;

// Margin
$mg-0: 30px;
$mg-1: 20px;
$mg-2: 15px;
$mg-3: 10px;
$mg-4: 5px;

// border-radius
$border-radius-0: 25px;
$border-radius-1: 5px;