.courses {
    .courses-container {
        // padding: 0;
        .courses-head {
            .courses-head__heading {
                font-size: $fs-2;
                color: $black-color-1;
                flex: 1;
            }
            .courses-head__more {
                font-size: $fs-5;
                color: $black-color-0;
                // align-self: flex-end;
            }
        }
        .courses-body {
            .courses-item {
                .courses-item__link {
                    display: flex;
                    flex-direction: column;
                    background-color: $white-color-0;
                    border-radius: $border-radius-1;
                    margin-bottom: $mg-1;
                    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
                    position: relative;
                    .courses-item__link-img {
                        width: 100%;
                        height: auto;
                        border-top-left-radius: $border-radius-1;
                        border-top-right-radius: $border-radius-1;
                    }
                    .courses-content {
                        padding: 0 $pd-3 + 2 $pd-3;
                        .courses-title {
                            font-size: $fs-4;
                            color: $black-color-0;
                            max-height: 42px;
                            min-height: 42px;
                            margin: $mg-4 + 1 0 $mg-3;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            // text-overflow: ellipsis;
                            overflow: hidden;
                            // white-space: nowrap;
                        }
                        .courses-desc {
                            .courses-teacher-pr {
                                display: flex;
                                justify-content: space-between;
                                .courses-teacher {
                                    font-size: $fs-7;
                                    color: $black-color-3;
                                }
                                .courses-oldPrice {
                                    font-size: $fs-6;
                                    color: $black-color-2;
                                    text-decoration: line-through;
                                }
                            }
                            .courses-ratings-pr {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .courses-ratings {
                                    .courses-ratings__star {
                                        font-size: $fs-7 - .2rem;
                                        color: $organe-color-0;
                                        position: relative;
                                        top: -2px;
                                    }
                                    .courses-ratings__count {
                                        font-size: $fs-5;
                                        color: $black-color-0;
                                        display: inline-block;
                                        margin-left: $mg-4 - 2;
                                    }
                                }
                                .courses-newPrice {
                                    font-size: $fs-3;
                                    color: $black-color-1;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                    .courses-sale {
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: $pd-3;
                        background-color: $organe-color-0;
                        font-size: $fs-5;
                        color: $white-color-0;
                        border-top-left-radius: $border-radius-1;
                    }
                    &:hover {
                        box-shadow: 0 4px 8px #62b0fd, 0 4px 12px rgba(0, 0, 0, .08);
                    }
                }
            }
        }
    }
}
